extends ../layout

block content
  header
  nav.navbar.navbar-fixed-top
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#myNavbar' aria-expanded='false')
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/home') (boot)(up)
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href='/admin') HOME
            span.sr-only(current)
          li.active
            a(href='/admin/accepted') ACCEPTED
            span.sr-only(current) 
          li.active
            a(href='/admin/waitlisted') WAITLIST
            span.sr-only(current)
          li.active
            a(href='/admin/alternative') ALTERNATIVE
            span.sr-only(current) 
          li.active
            a(href='/logout') LOGOUT
            span.sr-only(current)
            
  br
  div#belownav
  div
  br
  h1.mini fall applications
  br
  div#applicantreview
  br
  br
  br
  div.dashboard
    div.row
      div.col-md-4
        h3 pending review
        br
        each applicant in profile
          div
          - var appReview = applicant.application.status
          if appReview == "under review"
            dl
              button.list-group-item
                  dt #{applicant.name.firstName} #{applicant.name.lastName}
                  br
                  a.btn.btn-xs.btn-default#adminsubmit(href='/admin/review/#{applicant.id}') REVIEW
                  br      
      div.col-md-8
        div.container-fluid
          h3 applicant dashboard
          br
          div.row
            div.col-md-4.surround
              - var total = 0;
                each appStat in profile
                  - var number = [];
                  - var stat = appStat.application.status
                  - if (stat == "under review"){
                  -  number.push(appStat.name.firstName)
                  - }
                  - if (number.length == true){
                  -  total += 1;
                  - }  
                br
                h1#red #{total}
                h5#red pending review
            div.col-md-4.surround
              - var total = 0;
                each applicant in profile
                  - var number = [];
                  - var stat = applicant.id
                  - if (stat){
                  -  number.push(applicant.id)
                  - }
                  - if (number.length == true){
                  -  total += 1;
                  - } 
                br
                h2#red #{total} 
                h5#red profiles
            div.col-md-4.surround
              - var total = 0;
                each applicant in questionaire
                  - var number = [];
                  - var stat = applicant.id
                  - if (stat){
                  -  number.push(applicant.id)
                  - }
                  - if (number.length == true){
                  -  total += 1;
                  - }  
                br
                h2#red #{total} 
                h5#red questionaires        
          div.row
            div.col-md-4.surround
              - var total = 0;
                each appStat in profile
                  - var number = [];
                  - var stat = appStat.application.status
                  - if (stat == "accepted"){
                  -  number.push(appStat.name.firstName)
                  - }
                  - if (number.length == true){
                  -  total += 1;
                  - }  
                br
                h1#red #{total}
                h5#red accepted
            div.col-md-4.surround
              - var total = 0;
                each appStat in profile
                  - var number = [];
                  - var stat = appStat.application.status
                  - if (stat == "waitlist"){
                  -  number.push(appStat.name.firstName)
                  - }
                  - if (number.length == true){
                  -  total += 1;
                  - }  
                br
                h1#red #{total}
                h5#red waitlisted
            div.col-md-4.surround
              - var total = 0;
                each appStat in profile
                  - var number = [];
                  - var stat = appStat.application.status
                  - if (stat == "alternative track"){
                  -  number.push(appStat.name.firstName)
                  - }
                  - if (number.length == true){
                  -  total += 1;
                  - }  
                br
                h1#red #{total}
                h5#red alternative track
          
