extends ../layout

block content

  div  
    nav.navbar.navbar-fixed-top
      .container
      .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/home') (boot)(up)
        #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/admin') HOME
        li
          a(href='/admin/accepted') ACCEPTED  
        li
          a(href='/admin/waitlisted') WAITLISTED
        li
          a(href='/admin/alternative') ALTERNATIVE  
        li
          a(href='/logout') LOGOUT
        br
        
  div#belownav
  
  div
    each section in profile
      br
      h1 applicant review
      h2 #{section.name.firstName} #{section.name.lastName}
      h4#red status: #{section.application.status}
      
  div#applicantreview
  br
  br
  br
  
  div.row
  
    div.col-md-4#adminreview
      each section in profile
        dl
          h3 #{section.name.preferredName} 
          dt #{section.name.firstName} #{section.name.lastName}
          br
          dt #{section.demographics.age} - #{section.demographics.gender} - #{section.demographics.ethnicity} 
          br
          br
          dt #{section.contact.phone}
          br
          dt #{section.contact.email}
          br 
          dt #{section.contact.address} 
          br
          br
          dt #{section.social.github}
          dt #{section.social.facebook} 
          dt #{section.social.twitter}
          br
          br
          dt status: #{section.application.status}
          br
          br
          form(method="post")
            input(hidden, type="text",  name="status", value="accepted")
            button.btn.btn-default#adminbutton(type="submit") ACCEPTED
            br
          form(method="post")
            input(hidden, type="text",  name="status", value="waitlisted")
            button.btn.btn-default#adminbutton(type="submit") WAITLIST
            br
          form(method="post")
            input(hidden, type="text",  name="status", value="alternative")
            button.btn.btn-default#adminbutton(type="submit") ALTERNATIVE
            br  
              
    div.col-md-8#adminreviewquestionaire
      br
      form(method="post")
      .form-group   
      each responses in questionaire
        each detail in responses.question
          h4 #{detail.statement}
          br
          dd #{detail.response}
            br
            br
            label(for='exampleSelect1') rate response
              |     
              select#exampleSelect1.form-control
                option 1
                |       
                option 2
                |       
                option 3
                |       
                option 4
                |       
                option 5
                |       
                option 6
                |       
                option 7
                |       
                option 8
                |       
                option 9
                |       
                option 10
      br
      | notes:          
      textarea.form-control#exampleTextarea(rows="6")
      br      
      input.btn.btn-default#adminreviewbutton(type="submit")
      br
      br
      br
      br
