extends ../layout

block content
  head
    nav.navbar.navbar-fixed-top
      .container
      .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/admin') (boot)(up)
        #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/home') HOME
        li
          a(href='/profile') PROFILE  
        li
          a(href='/application') APPLICATION
        li
          a(href='/application/status') STATUS  
        li
          a(href='/logout') LOGOUT
        br
        br
    div#profile.container.slide
      br
      h2.easy profile
      form(action"", method="post")
          input.input.group(type="text", class="form-control", placeholder="name", name="name[firstName]", value=profile.name.firstName)
          br
          input.input.group(type="text", class="form-control", placeholder="last name", name="name[lastName]", value=profile.name.lastName)
          br
          input.input.group(type="text", class="form-control", placeholder="preferred name", name="name[preferredName]", value=profile.name.preferredName)
          br
          input.input.group(type="text", class="form-control", placeholder="street address, city, state and zip", name="contact[address]", value=profile.contact.address)
          br
          input.input.group(type="text", class="form-control", placeholder="email", name="contact[email]", value=profile.contact.email)
          br
          input.input.group(type="text", class="form-control", placeholder="phone", name="contact[phone]", value=profile.contact.phone)
          br
          input.input.group(type="text", class="form-control", placeholder="gender (optional)", name="demographics[gender]", value=profile.demographics.gender)
          br
          input.input.group(type="text", class="form-control", placeholder="age (optional)", name="demographics[age]", value=profile.demographics.age)
          br
          input.input.group(type="text", class="form-control", placeholder="ethnicity (optional)", name="demographics[ethnicity]", value=profile.demographics.ethnicity)
          br
          input.input.group(type="text", class="form-control", placeholder="https://github.com/(you)", name="social[github]", value=profile.social.github)
          br
          input.input.group(type="text", class="form-control", placeholder="https://facebook.com/(you)" name="social[facebook]", value=profile.social.facebook)
          br
          input.input.group(type="text", class="form-control", placeholder="https://twitter.com/(you)" name="social[twitter]" value=profile.social.twitter)
          br
          br
          input.btn.btn-default#profilebutton.slow(type="submit")
