//
  extends ../layout

  block content
    h1 Checked In
    h3 Edit Saved Contact
    br
    ul
    each person in contact.contact
      p #{person.name}
      p #{person.phone} #{person.email} 
      form(action="?_method=put", method="post")
        p Name:
        input(type="text", name="name" value="#{person.name}")
        br
        br
        p Phone:
        input(type="text", name="phone" value="#{person.phone}")
        br
        br
        p Email:
        input(type="text", name="email" value="#{person.email}")
        br
        br
        input(type="submit")
    br
    br
    br
    a(href='/settings') Contact Settings
    br
    a(href='/alertsettings') Alert Settings
    br
    a(href='/user') Home
    br
//
