//
  extends ../layout

  block content
    h1 Checked In
    h3 Remove Contact
    br
    h5 Are you sure you want to remove this contact?
    ul
    each person in contact.contact
      p #{person.name}
      p #{person.phone} #{person.email} 
        form(action="?_method=delete", method="post")
          input(type="hidden", name="name" value="#{person.name}")
          input(type="hidden", name="phone" value="#{person.phone}")
          input(type="hidden", name="email" value="#{person.email}")
          br
          input(type="submit" value="Remove")
    br
    a(href='/settings') Contact Settings
    br
    a(href='/alertsettings') Alert Settings
    br
    a(href='/user') Home
//
